
.option-button.default {
  background-color: #ddd;
  border-color: #777;
}
.option-button.correct {
  background-color: #8f8;
  border-color: #2a2;
}

.option-button.incorrect {
  background-color: #f88;
  border-color: #a22;
}

.option-button.actual {
  background-color: #88f;
  border-color: #22a;
}

ul {
  padding-inline-start: 0;
}

.result-row {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}

.result-index {
  display: block;
  width: 10%;
}

.result-spelling {
  display: block;
  font-weight: bold;
  width: 40%;
}

.result-answer {
  display: block;
  font-weight: bold;
  width: 40%;
}

.result-isCorrect {
  display: block;
  font-weight: bold;
  width: 10%;
}