
.option-button.default {
  background-color: #ddd;
  border-color: #777;
}
.option-button.correct {
  background-color: #8f8;
  border-color: #2a2;
}

.option-button.incorrect {
  background-color: #f88;
  border-color: #a22;
}

.option-button.actual {
  background-color: #88f;
  border-color: #22a;
}